body {
    background-color: thistle;
}
.italics {
    font-style: italic;
}

input {
    width: 48px;
}

#update, #restart {
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

tr, td {
    padding: 24px;
}

td > button {
    font-size: larger;
    transform: rotate(45deg);
}
tr:nth-of-type(2) button {
    transform: rotate(90deg);
    border: 2px red;
}