/* css application to css practice*/
.headings{
    text-align: center;
    
}



.dms{
    padding: 5px;
    border-color: red;
    border-style: dashed;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman';
    text-indent: 10px;

}
.new{
    padding: 5px;
    border-color: red;
    border-style: dashed;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman';
    text-indent: 10px;
    background-color: grey;
}
.cm{
    padding: 5px;
    border-color: red;
    border-style: dashed;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman';
    text-indent: 10px;
}
