body {
    background-color: lavender;
}
header {
    font-family: Papyrus, fantasy;
    font-size: 36px;
}

.table {
    display: table;
    display: flex;
    align-items: flex-start;
}

.cell {
    display: table-cell;
}

nav > * {
    display: block;
    margin: 18px 25px 18px 0px;
}

a > img {
    height: 80px;
    width: auto;
}

iframe {
    border: none;
    overflow: hidden;
}