.p1 table, .p1 th, .p1 td {
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.p1 th, .p1 td {
    text-align: left;
    padding: 10px;
}

.p1 table {
    border-width: thick;
}

.p1 th {
    border-bottom-width: thick;
}

.p1 table {
    /* the following rule is collapse in-table borders and remove gaps between cells and rows */
    border-collapse: collapse; 
}

/* this is a pseudo class selector that selects just first of type of the element specified */
.p1 tr:first-of-type {
    background-color: palegreen;
}


/***** Practice 2 Styles ******/
.p2 caption {
    text-align: center;
    padding: 16px;
    font-weight: bold;
}

.p2 table, .p2 th, .p2 td{
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.p2 table {
    border-collapse: collapse;
    width:max-content;
    margin: auto;
}

.p2 th {
    text-align: center;
}

.p2 tr:nth-last-of-type(2n+1) {
    background-color: rgb(245, 198, 140);
}

.p2 tr:first-of-type {
    background-color: lightgreen;
}



.p2 tr:nth-of-type(n) td:nth-last-of-type(2),
.p2 tr:nth-of-type(n) td:nth-last-of-type(1) {
    text-align: right;
}


/***** Practice 3 CSS rules *****/
/*
.p3 table {
    width: 240px;
    margin: auto;
    text-align: center;
}*/
.p3 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.p3 th {
    color: white;
}
.p3 thead th {
    background-color: rgb(7, 7, 66);
}
.p3 tbody th {
    background-color: rgb(156, 23, 101);
}

.p3 th, .p3 td {
    padding: 12px;
}

.p3 tbody tr {
    background-color: pink;
}

.p3 table caption {
    font-weight: bold;
}


/***** Practice 4 CSS rules *****/
.p4 thead th {
    background-color: rgb(13, 161, 13);
}

.p4 tbody th {
    background-color: skyblue;
}
.p4 table {
    border: thin solid;
}
.p4 th,
.p4 td {
    border: thin solid;
    padding: 12px;
}
